.card {
    border: 1px solid white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.card-visited {
    background-color: rgba(248, 3, 3, 0.993);
    
    
}
.visit-button{
  
  width: 130px;
 height: 40px;
 color: #fff;
 border-radius: 5px;
 margin: 10px;
 font-family: 'Lato', sans-serif;
 font-weight: 500;
 background: transparent;
 cursor: pointer;
 transition: all 0.3s ease;
 position: relative;
 display: inline-block;
 box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 outline: none;
}